/* ----- ZÁKLÁDNÍ STYLOVÁNÍ -----*/

.mainContainer{
  /*border: 2px solid #000;*/
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: main-row-start / main-row-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.fotoContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: foto-row-start / foto-row-end;
}

#mainSec{
  /*border: 2px solid #000;*/
  display: flex;
}

.footer-info{
  display: flex;

}

@media screen and (max-width:900px) {
  .mainContainer{
    height: 700px;
  }
}

/* ----- ENGINE STYLES -----*/

@media screen and (max-width:900px) {
  .engine-section{
    flex-direction: column;
    height: 100%;
    align-items: center !important;
  }
}

.engine-section{
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  overflow: hidden;
}

.engine-section.expanded{
  gap: 0;
}

.engine-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.engine-text.open {
  max-height: 500px;
}

.engine-btn.open .arrow-img {
  transform: rotate(180deg);
}

.Engine{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  overflow: hidden;
  background: #ccc;
  position: relative;
  transition: 0.4s ease-out;
  z-index: 1;
  min-width: 0;
  transition: opacity 0.5s ease-in-out, flex-basis 0.5s ease-in-out, transform 0.1s ease-in-out; 
  opacity: 1;
  transform: scale(1);
  transform-origin: left center; 
  box-sizing: border-box;
}

.Engine.hidden{
  opacity: 0;
  transform: scale(0.9);
  flex: 0 0 0px; 
  pointer-events: none;
}

.Engine.expanded {
  flex: 3; 
  width: auto;
  height: auto;
  z-index: 3;
  background: var(--backround_hover);
}

.Engine.expanded .icon{
  height: 80%;
}

.Engine.expanded:before {
  display: none !important; /*Tags that are trua after axpanded card*/
  opacity: 0 !important;
  background: var(--backround_hover)
}

.Engine.expanded .info {
  opacity: 1;
  transform: translateY(0); 
  bottom: auto;
}

@media screen and (min-width:900px) 
{
  .Engine:hover:before {
    opacity: 1;
  }
  .Engine:hover .info {
    opacity: 1;
    transform: translateY(0);
  }
  .Engine:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgb(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
}

.icon{
  width: 70%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}

.info{  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  padding: 10px;
  position: absolute;
}

.info h3, .info p {
  margin: 5px 0;
}

p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.Engine:hover{
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .infoContainer{
    height: 95%;
    flex-direction: column;
    gap: 5px;
  }

  .Engine{
    margin: 5px;
    height: auto;
    width: 50%;
  }
  
}

/* ------ ABOUT US STYLE ------*/

.About-us{
  max-height: 100%;
  display: flex;
}

h1{
  text-align: center;
}

.main-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-text {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.more-text.open {
  opacity: 1;
}

.text-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text);
}

.arrow-img {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  filter: var(--arrow);
}

.text-btn.open .arrow-img {
  transform: rotate(180deg);
}

.mainInfo{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-text{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2ß1, .h2ß2 {
  text-align: center;
}

.pß1,.pß2,.pß3, .pßO{
  margin: 5px;
  text-align: center;
}

/* ----- SURVEY -----*/

.survey-info{
  display: flex;
  flex-direction: column;
}

.survey-div h2{
  text-align: center;
}

#surveyForm{
  display: flex;
  flex-direction: column;
}

.survey-text{
  height: 300px !important;
  width: 600px !important;
  border: 3px solid #555;
  border-radius: 0.5rem;
  margin: 0 !important;
  resize: none;
}

.survey-text[type = "text"]{
  color: #000;
  text-align: start;
}