/* ----- ZÁKLÁDNÍ STYLOVÁNÍ -----*/

.mainContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: main-row-start / main-row-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.fotoContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: foto-row-start / foto-row-end;
}

#mainSec{
  border: 2px solid #000;
  display: flex;
}

.footer-info{
  display: flex;

}

@media screen and (max-width:900px) {
  .mainContainer{
    height: 700px;
  }
}

/* ----- ENGINE STYLES -----*/

@media screen and (max-width:900px) {
  .engine-section{
    flex-direction: column;
    height: 100%;
  }
}

.engine-section{
  justify-content: center;
  align-items: center;
  
}

.Engine{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  overflow: hidden;
  background: #ccc;
  margin: 15px;
  position: relative;
  transition: 0.4s ease-out;
  z-index: 1;
}

.Engine.expanded{
  position: absolute;
  width: 95%;
  height: 100%;
  z-index: 3;
  flex: none;
  transform: scale(1.02);
}

@media screen and (min-width:900px) 
{
  .Engine:hover:before {
    opacity: 1;
  }
  .Engine:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .Engine:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
}

.icon{
  width: 70%;
  height: 70%;
  object-fit: contain;
  position: relative;
  top: 15%;
  border-radius: 15px;
}

.info{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.Engine:hover{
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .infoContainer{
    height: 95%;
    flex-direction: column;
    gap: 5px;
  }

  .Engine{
    margin: 5px;
    height: 30%;
    width: 90%;
  }
  
}

/* ------ ABOUT US STYLE ------*/

.About-us{
  max-height: 100%;
  display: flex;
}

h1{
  text-align: center;
}

.main-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-text {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.more-text.open {
  opacity: 1;
}

.text-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text);
}

.arrow-img {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  filter: var(--arrow);
}

.text-btn.open .arrow-img {
  transform: rotate(180deg);
}