/* ----- ZÁKLÁDNÍ STYLOVÁNÍ -----*/

.mainContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: main-row-start / main-row-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: foto-row-start / foto-row-end;
}

/* ----- ENGINE STYLES -----*/

.engineContainer{
  width: 95%;
  height: 90%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.Engines{
  display: flex;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  background: #ccc;
  margin: 15px;
  position: relative;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.Engines:hover {
  transform: translateY(20px);
}
.Engines:hover:before {
  opacity: 1;
}
.Engines:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.Engines:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.unity{
  width: 70%;
  height: 70%;
  object-fit: contain;
  /* position: absolute;
  top: 50px;
  left: 40px; */
  border-radius: 15px;
}

.info{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.Engines:hover{
  cursor: pointer;
}