/* ------------MOBILE SIDE MENU-----------*/

.header-sec{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
} 

a{
  text-decoration: none;
  font-weight: bold;

}

.header-sec.active a:hover {
  color: #f1f1f1;
}

.header-sec .closebtn {
  display: none;
}

.headerbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  display: none;
}

.headerbtn:hover {
  background-color:#444;
}



@media screen and (max-width:900px) {

  .header-sec{
    display: block;
  }

  .header-sec a{
    display: none;
  }


  .header-sec.active {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .header-sec.active a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .headerbtn{
    display: flex;
  }

  .header-sec.active .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    transition: 0.5s;
  }
}