/* ------------MOBILE SIDE MENU-----------*/

.header-sec{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  gap: 30px;
} 

a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
  transition-duration: 0.4s;

}

@media screen and (min-width: 900px) {
  a{
    height: 40px;
    width: 110px;
    /*border: 2px solid #000;*/
    border-radius: 0.5rem;
    background-color: var(--bg_a);
    -webkit-box-shadow: 0px 0px 25px 3px var(--bg_a_shdw); 
    box-shadow: 0px 0px 25px 3px var(--bg_a_shdw);
  }

  a:hover{
    background: var(--a_hover);
    cursor: pointer;
  }

}

.header-sec.active a:hover {
  color: #f1f1f1;
}

.header-sec .closebtn {
  display: none;
}

.headerbtn {
  font-size: 20px;
  cursor: pointer;
  color: var(--header_btn);
  background-color: var(--header);
  padding: 10px 15px;
  border: none;
  display: none;
  border-radius: 1rem;
}

.headerbtn:hover {
  background-color: var(--header_hover);
}

@media screen and (max-width:900px) {

  .header-sec{
    display: block;
  }

  .header-sec a{
    display: none;
  }


  .header-sec.active {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111111f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 5;
  }

  .header-sec.active a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .headerbtn{
    display: flex;
  }

  .header-sec.active .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    transition: 0.5s;
  }

}