*{
  font-family: inter;
}

header{
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 2fr [midle-line] 1fr [end];
  align-items: center;
  justify-items: center;
  grid-row: first-row / main-row-start;
  grid-column: first-line / end;
}

body{
  height: 200vh;
  display: grid;
  grid-template-columns: [first-line] 2% [second-line] 96% [third-line] 2% [end];
  grid-template-rows: [first-row] 15% [main-row-start] 55% [main-row-end] 5% [space-row] 5% [foto-row-start] 20% [foto-row-end];
  background-color: #999;
}

footer{
  width: 100%;
  height: 25vh;
  background-color: #000;
}

#logo{
  width: 60px;
  height: 60px;
  grid-column: first / line2;
}

#infoContainer{
  grid-column: line2 / midle-line;
  width: 75%;
  height: 75%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#searchBar{
  grid-column: midle-line / end;
  width: 90%;
  min-width: 0;
}

form{
  display: flex;
  align-items: center;
  width: 100%;
}

img{
  width: 25px;
  height: 25px;
}

input[type = "text"] {
  height: 27px;
  width: 100%;
  margin-right: 10px;
  min-width: 0;
}


@media screen and (max-width: 900px){
  #logo{
    width: 40px;
    height: 40px;
  }
  header{
    grid-template-columns: [first] auto [line2] 1fr [midle-line] auto [end];
  }
  #searchBar{
    width: 90%;
    grid-column: line2 / midle-line;
  }
 
  #infoContainer{
    grid-column: midle-line / end;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}


#mainContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: main-row-start / main-row-end;
}

.fotoContainer{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: second-line / third-line;
  grid-row: foto-row-start / foto-row-end;
}

/* ------------MOBILE SIDE MENU-----------*/

.navbar {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

/* Default: desktop menu visible */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Hamburger menu hidden on desktop */
.menu-logo {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

/* MOBILE STYLES */
@media (max-width: 900px) {
  /* Hide desktop menu */

    .navbar{
      width: 15px;
       height: 20px;

    }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
  }

  /* Show mobile menu icon */
  .menu-logo {
    display: block;
  }

  /* When menu is opened */
  .nav-links.active {
    display: flex;
  }
}