*{
  font-family: inter;
  box-sizing: border-box;
}

:root{
  --bg: linear-gradient(-30deg, #000022 0%, #2b2b2b 100%);
  --text: #e6f3ff;
  --shadow: 8px 8px 40px -10px #0400d34d;
  --header: #1d1629;
  --input: inset 8px 8px 40px -10px rgba(0, 88, 219, 0.582);
  --arrow: invert(100%);
  --header_hover: #031d55;
  --header_btn: #fff;
  interpolate-size: allow-keywords; 
  --backround_hover: rgba(255, 255, 255, 0.3);
}

body:has(#themeSwitch:checked) {
  --bg: linear-gradient(-30deg,#e4caed 0%, #e6f3ff 100%);
  --text: #000000;
  --shadow: 8px 8px 40px -10px #0000004d;
  --input: inset 8px 8px 40px -10px rgba(0, 0, 0, 0.397);
  --header: #fff;
  --arrow: invert(0%);
  --header_hover: #f1f1f1;
  --header_btn: #000;
  --backround_hover:rgba(0, 0, 0, 0.3) ;
}

header{
  width: auto;
  height: 12vh;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 2fr [midle-line] 1fr [end];
  grid-template-rows: [first-row] 1fr [end-row];
  align-items: center;
  justify-items: center;
  grid-row: first-row / main-row-start;
  grid-column: first-line / end;
  background: var(--header);
  transition: background 0.3s ease-in-out; 
  margin: 1rem 2rem;
  border-radius: 16px;
  -webkit-box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  box-shadow: var(--shadow);
  position: sticky;
  top: 8px;
  z-index: 1000;
}

body{
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: [first-line] 1fr [second-line] 40fr [third-line] 1fr [end];
  grid-template-rows: [first-row] 3fr [main-row-start] 10fr [main-row-end] 1.5fr [tab-row] 1fr [foto-row-start] 4fr [foto-row-end] 1fr [footer-row-start] 2fr [footer-row-end];
  margin: 0px;
  background: var(--bg);
  color: var(--text);
  transition: background 1s ease-in-out;
}

footer{
  display: grid;
  grid-template-columns: [footer-start] 3fr [footer-end];
  grid-template-rows: [first-row] 1fr [end-row];
  grid-column: first-line / end;
  grid-row: footer-row-start / footer-row-end;
  width: 100%;
  height: 25vh;
  background-color:#000 ;
}


/* ----- HEADER INFO -----*/
#logo{
  width: 60px;
  height: 60px;
  grid-column: first / line2;
  justify-self: start;
  margin-left: 2rem;
}

.logo{
  width: 100%;
  height: 100%;
}

#headerContainer{
  grid-column: line2 / midle-line;
  width: auto;
  height: 75%;
  align-self: center;
  display: flex;
  align-items: center;
}


#searchBar{
  grid-column: midle-line / end;
  width: 90%;
  min-width: 0;
}

form{
  display: flex;
  align-items: center;
  width: 100%;
}

img{
  width: 25px;
  height: 25px;
}

input[type="text"] {
  height: 32px;
  width: 100%;
  margin-right: 10px;
  min-width: 0;
  color: white;
}


/* ----- FOOTER INFO ----- */

.footerInfo{
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  grid-column: footer-start / footer-end;
  grid-row: first-row / end-row;

}

.footer-ul{
  color: #fff;
  list-style: none;
}


/* ----- MEDIA RESIZE -----*/
@media screen and (max-width: 900px){
  #logo{
    width: 40px;
    height: 40px;
  }
  header{
    grid-template-columns: [first] auto [line2] 1fr [midle-line] auto [end];
  }
  #searchBar{
    width: 90%;
    grid-column: line2 / midle-line;
    grid-row: first-row / end-row;
  }
 
  #headerContainer{
    grid-column: midle-line / end;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
  }
}


/* -----SCROLL BAR -----*/

::-webkit-scrollbar{
  width: 0px;
}


/* ----- SEARCH BAR ------*/

.search-bar{
  background-color: transparent;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: var(--input);
  -moz-box-shadow: var(--input);
  box-shadow: var(--input);
  padding: 0.5rem;
}



::placeholder{
  color: var(--text);
  font-weight: bold;
}

.search-btn{
  background-color: transparent;
  border: none;
}

/* ----- THEME -----*/

.theme{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1001;
}

#themeSwitch{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2000;
  cursor: pointer;
}

.theme-icon{
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 2rem;
  height: 2rem;
  z-index: 1002;
}

#light{
  display: none;
}

#dark{
  z-index: 1003;
  filter: invert(100%);
}



body:has(#themeSwitch:checked) #light {
  display: block;
}

body:has(#themeSwitch:checked) #dark {
  display: none;

}