*{
  font-family: inter;
}

header{
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 2fr [midle-line] 1fr [end];
  grid-template-rows: [first-row] 1fr [end-row];
  align-items: center;
  justify-items: center;
  grid-row: first-row / main-row-start;
  grid-column: first-line / end;
}

body{
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: [first-line] 2% [second-line] 96% [third-line] 2% [end];
  grid-template-rows: [first-row] 15% [main-row-start] 45% [main-row-end] 5% [foto-row-start] 20% [foto-row-end] 3% [footer-row-start] 12% [footer-row-end];
  background-color: #999;
  margin: 0px;
  scroll-behavior: smooth;
}

footer{
  display: grid;
  grid-template-columns: [footer-start] 1fr [info-column] 3fr [footer-end];
  grid-template-rows: [first-row] 1fr [end-row];
  grid-column: first-line / end;
  grid-row: footer-row-start / footer-row-end;
  width: 100%;
  height: 25vh;
  column-gap: 10px;
}



/* ----- HEADER INFO -----*/
#logo{
  width: 60px;
  height: 60px;
  grid-column: first / line2;
}

#infoContainer{
  grid-column: line2 / midle-line;
  width: 75%;
  height: 75%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#searchBar{
  grid-column: midle-line / end;
  width: 90%;
  min-width: 0;
}

form{
  display: flex;
  align-items: center;
  width: 100%;
}

img{
  width: 25px;
  height: 25px;
}

input[type = "text"] {
  height: 27px;
  width: 100%;
  margin-right: 10px;
  min-width: 0;
}

/* ----- FOOTER INFO ----- */

.footerInfo{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: footer-start / info-column;
  grid-row: first-row / end-row;

}

.socInfo{
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  grid-column: info-column / footer-end;
  grid-row: first-row / end-row;

}




/* ----- MEDIA RESIZE -----*/
@media screen and (max-width: 900px){
  #logo{
    width: 40px;
    height: 40px;
  }
  header{
    grid-template-columns: [first] auto [line2] 1fr [midle-line] auto [end];
  }
  #searchBar{
    width: 90%;
    grid-column: line2 / midle-line;
    grid-row: first-row / end-row;
  }
 
  #infoContainer{
    grid-column: midle-line / end;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}

