*{
  font-family: inter;
  box-sizing: border-box;
}

header{
  width: auto;
  height: 12vh;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 2fr [midle-line] 1fr [end];
  grid-template-rows: [first-row] 1fr [end-row];
  align-items: center;
  justify-items: center;
  grid-row: first-row / main-row-start;
  grid-column: first-line / end;
  background-color: #fff;
  margin: 1rem 2rem;
  border-radius: 16px;
  -webkit-box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 8px;
  z-index: 1000;
}

body{
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: [first-line] 1fr [second-line] 40fr [third-line] 1fr [end];
  grid-template-rows: [first-row] 3fr [main-row-start] 12fr [main-row-end] 1fr [foto-row-start] 4fr [foto-row-end] 1fr [footer-row-start] 2fr [footer-row-end];
  margin: 0px;
  background: #e6f3ff;
  background: linear-gradient(-30deg,#e4caed 0%, #e6f3ff 100%);
}

footer{
  display: grid;
  grid-template-columns: [footer-start] 3fr [footer-end];
  grid-template-rows: [first-row] 1fr [end-row];
  grid-column: first-line / end;
  grid-row: footer-row-start / footer-row-end;
  width: 100%;
  height: 25vh;
  background-color:#000 ;
}


/* ----- HEADER INFO -----*/
#logo{
  width: 60px;
  height: 60px;
  grid-column: first / line2;
  justify-self: start;
  margin-left: 2rem;
}

.logo{
  width: 100%;
  height: 100%;
}

#headerContainer{
  grid-column: line2 / midle-line;
  width: 75%;
  height: 75%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#searchBar{
  grid-column: midle-line / end;
  width: 90%;
  min-width: 0;
}

form{
  display: flex;
  align-items: center;
  width: 100%;
}

img{
  width: 25px;
  height: 25px;
}

input[type = "text"] {
  height: 32px;
  width: 100%;
  margin-right: 10px;
  min-width: 0;
}

/* ----- FOOTER INFO ----- */

.footerInfo{
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  grid-column: footer-start / footer-end;
  grid-row: first-row / end-row;

}

.footer-ul{
  color: #fff;
  list-style: none;
}


/* ----- MEDIA RESIZE -----*/
@media screen and (max-width: 900px){
  #logo{
    width: 40px;
    height: 40px;
  }
  header{
    grid-template-columns: [first] auto [line2] 1fr [midle-line] auto [end];
  }
  #searchBar{
    width: 90%;
    grid-column: line2 / midle-line;
    grid-row: first-row / end-row;
  }
 
  #headerContainer{
    grid-column: midle-line / end;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
    background-color: #fff;
  }
}


/* ----- BACKROUND -----*/
/* body{
  background: linear-gradient(153deg, #ca0000, #a808c5, #541ad0);
  background-size: 600% 600%;
  animation: AnimationName 18s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
} */

/* -----SCROLL BAR -----*/

::-webkit-scrollbar{
  width: 0px;
}


/* ----- SEARCH BAR ------*/

.search-bar{
  background-color: transparent;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: inset 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

::placeholder{
  color: #000;
  font-weight: bold;
}

.search-btn{
  background-color: transparent;
  border: none;
}

/* ----- THEME -----*/

.theme{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1001;
}

#themeSwitch{
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1100;
  margin: 0;
}

.theme-icon{
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 1002;
}

#light{
  z-index: 1003;
}

#dark{
  display: none;
}

body.theme:has(#themeSwitch:checked) .theme{
  background-color: #F00;
}

