*{
    font-family: inter;
}

header{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: [first] 20% [line2] 50% [midle-line] 30% [end];
    align-items: center;
    justify-items: center;
}

#logo{
    width: 60px;
    height: 60px;
    grid-column: first / line2;
}

@media screen and (max-width: 900px){
    #logo{
        width: 40px;
        height: 40px;
    }
}

#infoContainer{
    width: 100%;
    height: 75%;
    grid-column:  line2 / midle-line;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


form{
    display: flex;
    align-items: center;
}

img{
    width: 20px;
    height: 20px;
}

input[type = "text"] {
    height: 20px;
}