*{
    font-family: inter;
}

header{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: [first] 20% [line2] 40% [midle-line] 40% [end];
}

#logo{
    width: 35%;
    height: 85%;
    grid-column: first / line2;
}

#infoContainer{
    width: 100%;
    height: 85%;
    grid-column: midle-line / end;
}