*{
    font-family: inter;
}

header{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: [first] 20% [line2] 40% [midle-line] 40% [end];
}

#logo{
    width: 60px;
    height: 60px;
    grid-column: first / line2;
}

@media screen and (max-width: 900px){
    #logo{
        width: 40px;
        height: 40px;
    }
}

#infoContainer{
    width: 100%;
    height: 85%;
    grid-column: midle-line / end;
}